<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Denn's Attachment</title>
</head>
<body>

    <div class="header">
        <div class="navbar">
            <div class="nav-logo">
                <h1>DENNCODM</h1>
            </div>
    
            <ul class="nav-menu">
                <li><a href="/ar">AR</a></li>
                <li><a href="/smg">SMG</a></li>
                <li><a href="/sg">SG</a></li>
                <li><a href="/sr">SR</a></li>
                <li><a href="/lmg">LMG</a></li>
                <li><a href="/mm">MM</a></li>
                <li><a href="">PISTOL</a></li>
            </ul>
        </div>
    </div>

    <div class="bg"></div>
    
    <div class="about-box">
        <h2>Hi, I'm DENNCODM!</h2>
        <p>Welcome to my website! Here, you'll find all the gun attachments I use to dominate in CODM. If you like it, 
    don't forget to follow me on TikTok @denncodmm for more gameplay and codm memes.</p>

    <p>IGN: SV Denbie</p>
    <p>UID: 6833032126602936321</p>
    </div>
</div>
    
</body>
</html>